.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
    height: 100%;
}

.purple-border textarea {
    border: 1px solid #ba68c8;
}

.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.post-date {
  align-content: center;
  display: grid;
  color: #808080;
  font-size: 14px;
}

.post-visibility-icon-friends {
  align-content: center;
  display: grid;
  color: #00c108;
  font-size: 14px;
}

.post-visibility-icon-public {
  align-content: center;
  display: grid;
  color: #0ba2ec;
  font-size: 14px;
}

.post-author {
  align-content: center;
  margin: auto;
  font-size: 16px;
}
