<!--Main Navigation-->
<header class="h-auto sticky-top">

    <nav class="navbar navbar-expand-lg navbar-dark black" style="height: 56px;">
        <div class="container">
            <a class="navbar-brand" href=""><img src="assets/images/virtualid-white.png" height="80"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-2 active">
                        <a class="nav-link" href="#">Stream <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">E-mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
              <div class="card mb-5">
                <div class="card-body">
                  <h5 class="card-title">6 Friends</h5>
                  <div class="d-flex justify-content-center align-content-start flex-wrap">
                    <div class="view overlay zoom rounded-circle my-2 mx-3">
                      <ng-template #popTemplate>Here we go: </ng-template>
                      <a id="popTemplate"
                        placement="bottom"
                        mdbPopoverHeader="Dynamic html inside"
                        [mdbPopover]="popTemplate"
                        triggers="click">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="img-fluid z-depth-1 rounded-circle"
                        alt="Responsive image" style="width: 64px;">
                        <div class="mask rgba-purple-slight"></div>
                      </a>
                    </div>
                    <div class="view overlay zoom rounded-circle my-2 mx-3">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="img-fluid z-depth-1 rounded-circle"
                        alt="Responsive image" style="width: 64px;">
                        <div class="mask rgba-purple-slight"></div>
                    </div>
                    <div class="view overlay zoom rounded-circle my-2 mx-3">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="img-fluid z-depth-1 rounded-circle"
                        alt="Responsive image" style="width: 64px;">
                        <div class="mask rgba-purple-slight"></div>
                    </div>
                    <div class="view overlay zoom rounded-circle my-2 mx-3">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="img-fluid z-depth-1 rounded-circle"
                        alt="Responsive image" style="width: 64px;">
                        <div class="mask rgba-purple-slight"></div>
                    </div>
                    <div class="view overlay zoom rounded-circle my-2 mx-3">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(30).jpg" class="img-fluid z-depth-1 rounded-circle"
                        alt="Responsive image" style="width: 64px;">
                        <div class="mask rgba-purple-slight"></div>
                    </div>
                    <div class="view overlay zoom rounded-circle my-2 mx-3">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
                        alt="Responsive image" style="width: 64px;">
                        <div class="mask rgba-purple-slight"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <form [formGroup]="sendPostForm">
                <div class="card mb-5">
                  <div class="purple-border">
                    <textarea class="form-control" id="newPostContent" formControlName="newPostContent" [(ngModel)]="newPost.content" rows="3" placeholder="Write something here..."></textarea>
                  </div>
                  <div class="card-footer">
                    <div class="btn-group text-white" mdbDropdown>
                      <button type="button" [disabled]="sendPostForm.invalid" mdbBtn class="btn-sm purple-gradient waves-light" (click)="sendNewPost()" mdbWavesEffect><mdb-icon fas class="mr-1" icon="{{newPost.visibility === 'friends' ? 'user-friends' : 'globe-europe'}}"></mdb-icon>Publish</button>
                      <button type="button" mdbDropdownToggle mdbBtn class="btn-sm purple-gradient dropdown-toggle dropdown-toggle-split px-3 waves-light"
                        style="background: linear-gradient(40deg, #ab73f5, #7873f5) !important;" mdbWavesEffect></button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="setNewPostPublic()"><mdb-icon fas class="mr-1" icon="globe-europe"></mdb-icon>Public</a>
                        <a class="dropdown-item" (click)="setNewPostFriends()"><mdb-icon fas class="mr-1" icon="user-friends"></mdb-icon>Friends</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <!-- Section: Social news card -->
              <section *ngFor="let post of allPosts" class="my-5">
                <!-- Card -->
                <mdb-card class="news-card">
                  <!-- Heading-->
                  <mdb-card-body>
                    <div class="content d-flex justify-content-between">
                      <div class="view overlay zoom rounded-circle z-depth-1-half mr-2">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="img-fluid rounded-circle avatar-img"/>
                        <div class="mask rgba-purple-slight"></div>
                      </div>
                      <div class="flex-grow-1 post-author">
                        {{post.author.username}}
                      </div>
                      <div class="post-date">{{post.date | amTimeAgo}} </div>
                      <mdb-icon
                      [ngClass]="{'post-visibility-icon-friends': post.visibility === 'friends', 'post-visibility-icon-public': post.visibility === 'public'}"
                      class="ml-1" fas icon="{{post.visibility === 'friends' ? 'user-friends' : 'globe-europe'}}"></mdb-icon>
                    </div>
                  </mdb-card-body>
                  <!-- Card image-->
                  <!--<mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/girl1.jpg"></mdb-card-img>-->
                  <!-- Card content -->
                  <mdb-card-body>
                    <!-- Social meta-->
                    <div class="social-meta">
                      <p>{{post.content}}</p>
                      <!--<p class="blue-text">#awesome #bboy #battle #breaking #cool</p>-->
                      <div class="d-flex justify-content-between">
                        <p><i class="fas fa-comment mr-1"></i>0 comments</p>
                        <span><i class="far fa-heart mr-1"></i>0 likes</span>
                      </div>
                    </div>
                    <hr>
                    <!-- Comment input -->
                    <div class="md-form">
                      <i class="far fa-heart prefix"></i>
                      <input placeholder="Add Comment..." type="text" id="form5" class="form-control">
                    </div>
                  </mdb-card-body>
                  <!-- Card content -->
                </mdb-card>
                <!-- Card -->
              </section>

              <div [hidden]="!isLoadingPosts" class="text-center">
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                  <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>

            </div>
            <!-- Section: Social news card -->
            <div class="col-sm-3">

            </div>
        </div>
    </div>
</main>
<!--Main Layout-->
