<!--Main Navigation-->
<header class="intro-header">

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark black" style="height: 64px;">
      <div class="container">
          <a class="navbar-brand" href=""><img src="assets/images/virtualid-white.png" height="80"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <form [formGroup]="loginForm" class="form-inline">
            <div class="md-form nav-item">
              <input class="form-control mr-sm-2" mdbValidate type="text" id="loginUsername" formControlName="loginUsername" [(ngModel)]="loginUser.username" placeholder="Username">
            </div>
            <div class="md-form nav-item">
              <input class="form-control mr-sm-2" mdbValidate type="password" id="loginPassword" formControlName="loginPassword" [(ngModel)]="loginUser.password" placeholder="Password">
            </div>
            <div class="md-form nav-item">
              <button mdbBtn [disabled]="loginForm.invalid" color="indigo" gradient="peach" class="waves-light text-white" (click)="onLogin()" mdbWavesEffect>Login</button>
            </div>
          </form>
      </div>
  </nav>

  <!--Intro Section-->
  <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right
                  now! </h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur
                  adipisicing
                  elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                  Commodi sequi
                  non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                <br>
                <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect>Learn more</a>
              </div>
            </div>

            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <div class="card wow fadeInRight" data-wow-delay="0.3s">
                <div class="card-body">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text"><i class="fas fa-user white-text"></i> Register:</h3>
                    <hr class="hr-light">
                  </div>

                  <!--Body-->
                  <form [formGroup]="registerForm">
                    <div class="md-form">
                      <i class="fas fa-user prefix white-text"></i>
                      <input mdbValidate type="text" id="registerUsername" class="form-control" formControlName="registerUsername" [(ngModel)]="registerUser.username" mdbInput>
                      <label for="registerUsername">Username</label>
                      <mdb-error *ngIf="registerUsernameInput.invalid && (registerUsernameInput.dirty || registerUsernameInput.touched)">Required. 5 to 15 characters. Lower case letters and numbers only.</mdb-error>
                    </div>

                    <div class="md-form">
                      <i class="fas fa-envelope prefix white-text"></i>
                      <input mdbValidate type="text" id="registerEmail" class="form-control" formControlName="registerEmail" [(ngModel)]="registerUser.email" mdbInput>
                      <label for="registerEmail">Email</label>
                      <mdb-error *ngIf="registerEmailInput.invalid && (registerEmailInput.dirty || registerEmailInput.touched)">Required</mdb-error>
                    </div>

                    <div class="md-form">
                      <i class="fas fa-lock prefix white-text"></i>
                      <input mdbValidate type="password" id="registerPassword" class="form-control" formControlName="registerPassword" [(ngModel)]="registerUser.password" mdbInput>
                      <label for="registerPassword">Password</label>
                      <mdb-error *ngIf="registerPasswordInput.invalid && (registerPasswordInput.dirty || registerPasswordInput.touched)">Required. 8 characters min.</mdb-error>
                    </div>

                    <div class="text-center">
                      <button [disabled]="registerForm.invalid" mdbBtn color="indigo" gradient="purple" class="waves-light text-white" (click)="onRegister()" mdbWavesEffect>Sign up</button>
                      <hr class="hr-light mb-3 mt-4">

                      <div class="inline-ul text-center d-flex justify-content-center">
                        <a class="icons-sm tw-ic px-4"><i class="fab fa-twitter white-text"></i></a>
                        <a class="icons-sm li-ic px-4"><i class="fab fa-linkedin-in white-text"> </i></a>
                        <a class="icons-sm ins-ic px-4"><i class="fab fa-instagram white-text"> </i></a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</header>
<!--Main Navigation-->

<div mdbModal #generateKeysDialog="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" [config]="{ignoreBackdropClick: true}" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-notify" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading text-dark">Generating cryptographic keys</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-danger" role="status">
          <span class="sr-only"></span>
        </div>
      </div>

    </div>
  </div>
</div>

<div mdbModal #loggingInDialog="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" [config]="{ignoreBackdropClick: true}" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-notify" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading text-dark">Authenticating...</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-danger" role="status">
          <span class="sr-only"></span>
        </div>
      </div>

    </div>
  </div>
</div>
